* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
    background: #3b444b;
    border-radius: 5px;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #232b2b;
}